<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
       "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">
       
<tiles-definitions>

    <definition name="baselayoutManagerSpringBoot"  template="/WEB-INF/frame/layoutManagerSpringBoot.jsp">  
        <put-attribute name="title"   value="" />  
        <put-attribute name="navbar"  value="/WEB-INF/grids/navbar.jsp"/>  
        <put-attribute name="menu"    value="/WEB-INF/menus/menuspringboot.jsp"/>  
        <put-attribute name="body"    value="" />  
        <put-attribute name="footer"  value="/WEB-INF/grids/footer.jsp"/>  
    </definition>  
    
    <definition name="spring-boot-overview" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Overview" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-overview.jsp" />  
    </definition>  
    
     <definition name="spring-Boot-Dev-Tools" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Dev Tools" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-Boot-Dev-Tools.jsp" />  
    </definition>
    
    <definition name="spring-boot-actuator" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Actuator" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-actuator.jsp" />  
    </definition>
   
   	<definition name="spring-boot-apps-cmd" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Command Line" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-apps-cmd.jsp" />  
    </definition>
    
    <definition name="spring-boot-properties" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Application Properties" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-properties.jsp" />  
    </definition>
      
   <definition name="spring-boot-project-structure" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Project Structure" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-project-structure.jsp" />  
    </definition>
    
    
     <definition name="spring-boot-security" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Security" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-security.jsp" />  
    </definition>
    
    
    <definition name="spring-boot-maven-dependencies" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Maven Dependencies" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-maven-dependencies.jsp" />  
    </definition>
    
    
    <definition name="spring-boot-with-spring-tool-suite-ide" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot With Spring Tool Suite" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-with-spring-tool-suite-ide.jsp" />  
    </definition>
    
    <definition name="spring-boot-query" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring Boot Query" />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-boot-query.jsp" />  
    </definition>
    
  <!-- ================================Spring MVC JSTL ======================================== -->  
        
    <definition name="spring-mvc-form-tag" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring MVC JSTL Form Tag " />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-mvc-form-tag.jsp" />  
    </definition>
    <definition name="spring-mvc-input-tag" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring MVC JSTL Input Tag  " />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-mvc-form-tag.jsp" />  
    </definition>
    <definition name="spring-mvc-checkbox-tag" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring MVC JSTL Checkbox Tag " />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-mvc-checkboxes-tag.jsp" />  
    </definition>
   <definition name="spring-mvc-checkboxes-tag" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring MVC JSTL Checkboxes Tag " />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-mvc-checkboxes-tag.jsp" />  
    </definition>
    <definition name="spring-mvc-radiobutton-tag" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring MVC JSTL Radiobutton Tag " />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-mvc-radiobuttons-tag.jsp" />  
    </definition>
    <definition name="spring-mvc-radiobuttons-tag" extends="baselayoutManagerSpringBoot">  
        <put-attribute name="title" value="Spring MVC JSTL Radiobuttons Tag " />  
        <put-attribute name="body"  value="/WEB-INF/spring-boot/spring-mvc-radiobuttons-tag.jsp" />  
    </definition>
</tiles-definitions>

